@model MainPage

<div class="card">
	<div class="card-body">
		<form method="post" enctype="multipart/form-data">
			<input asp-for="Id" type="hidden" />
			<input class="form-control mb-3" type="text"
				   placeholder="Başlık" asp-for="Title">
			<span class="text-danger" asp-validation-for="Title"></span>

			<textarea class="form-control mb-3 ckeditor" type="text"
					  placeholder="Açıklama" asp-for="Description" rows="4">
			</textarea>

			<input type="file" name="img" id="img" accept="image/*"/>
			<input type="submit" value="Kaydet" class="btn btn-primary" />

		</form>
	</div>
</div>