@model User

<div class="card">
    <div class="card-body">
        <form method="post">

            <label asp-for="RoleId"></label>
            <select asp-for="RoleId" asp-items="@ViewBag.RoleId" class="form-control">
            </select>
            <span class="text-danger" asp-validation-for="RoleId"></span>

            <label asp-for="UserName"></label>
            <input class="form-control mb-3" type="text"
                   placeholder="Başlık" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>

            <label asp-for="FullName"></label>
            <input class="form-control mb-3" type="text"
                   placeholder="Başlık" asp-for="FullName">
            <span class="text-danger" asp-validation-for="FullName"></span>

            <label asp-for="Email"></label>
            <input class="form-control mb-3" type="text"
                   placeholder="Başlık" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>

            <label asp-for="Password"></label>
            <input class="form-control mb-3" type="text"
                   placeholder="Başlık" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>

            

            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </form>
    </div>
</div>
