<!-- wrapper -->
<div class="wrapper">
	<!--sidebar-wrapper-->
	<div class="sidebar-wrapper" data-simplebar="true">
		<div class="sidebar-header">
			<div class="">
				<img src="~/areas/images/logo-icon.png" class="logo-icon-2" alt="" />
			</div>
			<div>
				<h4 class="logo-text">Syndash</h4>
			</div>
			<a href="javascript:;" class="toggle-btn ms-auto">
				<i class="bx bx-menu"></i>
			</a>
		</div>
    