@model CategoryProject

<div class="card">
    <div class="card-body">
        <form method="post">

            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-control">
            </select>

            <label asp-for="ProjectId"></label>
            <select asp-for="ProjectId" asp-items="@ViewBag.ProjectId" class="form-control">
            </select>

            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </form>
    </div>
</div>