@model IEnumerable<CategoryProject>

<a href="/Management/CategoryProject/Create">Yeni Ekle</a>
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Etiket Makale</h4>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Makale Adı</th>
                        <th scope="col">Etiket Adı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Category.Name</td>
                            <td>@item.Project.Name</td>

                            <td><a class="btn btn-warning" href="/Management/CategoryProject/Delete/@item.CategoryId/@item.ProjectId">Düzenle</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>