@model IEnumerable<Skill>

<form method="get">
    <input type="text" id="name" name="name" value="@ViewBag.name" />
    <input type="submit" value="Arama" />
</form>

<table>
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Puan</th>
            <th>Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Score</td>
                <td>
                    @if (item.Status)
                    {
                        <span>Biliyorum</span>
                    }
                    else
                    {
                        <span>Bilmiyorum</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
